{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
